@page "/Museum/Artworks"

@rendermode InteractiveAuto
@attribute [StreamRendering]
@inject IMuseumService _museumService

<PageTitle>@_title</PageTitle>

<h1>@_title</h1>

@* https://stackoverflow.com/questions/61756167/onchange-event-not-firing-blazor-inputselect *@

<div class="row mb-2">
    <div class="col-2"><strong>Department:</strong></div>
    <div class="col-4">
        <InputSelect TValue="int?"
                     Value="@_selectedDepartmentId"
                     ValueExpression="@(()=>_selectedDepartmentId)"
                     ValueChanged="@((int? value) => OnValueChanged(value ))"
                     class="form-select">
            <option value="" disabled selected>Please Select a Department</option>
            @foreach (var department in _departments ?? new List<Department>())
            {
                <option value="@department.DepartmentId" selected="@(department.DepartmentId == _selectedDepartmentId)">@department.DisplayName</option>
            }
        </InputSelect>
    </div>
</div>

@code {
    private string _title = "Museum Artworks";
    private List<Department>? _departments;
    private int? _selectedDepartmentId = null;
    private List<string>? _artworkIds;

    protected override async Task OnInitializedAsync()
    {
        var result = await _museumService.GetDepartments();
        _departments = result?.ToList();
    }

    private async Task OnValueChanged(int? value)
    {
        _selectedDepartmentId = value;
        _artworkIds = await _museumService.GetArtworks(_selectedDepartmentId ?? 0);
    }
}
